/* solo tendremos una sola hoja de estilos propia para el proyecto, no es
necesario crear mas archivos css */

/* Selector universal (*) va a seleccionar todos los elementos html */

/* solo tendremos una sola hoja de estilos propia para el proyecto, no es
necesario crear mas archivos css */

/* Selector universal (*) va a seleccionar todos los elementos html */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Para que el ancho y el alto de los elementos html se 
    ajuste a lo declarado */
}


body {
    background-color: rgba(213, 20, 20, 1);
    color: black
}

main {
    min-height: 100vh;
}

ul {
    margin-bottom: 0;
    padding-left: 0;
}


a {
    color: inherit;
}

.inicio1 {
    background-color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding: 4rem;
    color: black;
    display: flex;
}



/* Cuando sean margin o padding o border utilizar la unidad de 
    medida rem o directamente px */


.inicio0 {

    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 2;
}

.texto1 {
    color: black;
    text-align: center;
}
.position-fixed

/* top, left, right, bottom */
    {
    background-color: rgba(213, 20, 20, 1);
    color: white;
    position: fixed;
    right: 0rem;
    bottom: 0rem;
}

.header {
    width: 100%;
    background-color: black;
    min-height: 100px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav-lista {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav-item {
    margin-left: 1rem;
}

.nav-enlace {
    text-decoration: none;
}

.padre {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    min-height: 500px;
}

.hijo {
    width: 30%;
    height: 400px;
    color: black;
    padding: 1rem;
}


.footer-lista {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    list-style: none;
}

.footer-item {
    margin-left: 1rem;
}

.footer {
    background-color: black;
    color: white;
    padding: 2rem 0rem;
}

.indumentaria {
    background-color: white;
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 8rem;
    padding-right: 8rem;
}

.indumentaria-titulo {
    font-size: 40px;
    margin-bottom: 2rem;
    text-align: center;
}

.indumentaria-padre {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;


}

.indumentaria-hijos {
    text-align: center;
    color: white;
    background-color: black;
    width: 500px;
    height: 500px;
    padding: 1rem;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.indumentaria-img {
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: 24px;
    right: 24px;
}

.carousel-item img {
    height: 600px;
    object-fit: cover;
}

.container-fluid {
overflow: hidden;
}


.contacto1 {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Vamos a crear una media query para aplicar cambios necesarios para las vistas pequeñas
Tablet o Movil */

@media (max-width: 1024px) {
}

@media (max-width: 600px) {

}