/* solo tendremos una sola hoja de estilos propia para el proyecto, no es
necesario crear mas archivos css */

/* Selector universal (*) va a seleccionar todos los elementos html */

/* solo tendremos una sola hoja de estilos propia para el proyecto, no es
necesario crear mas archivos css */

/* Selector universal (*) va a seleccionar todos los elementos html */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Para que el ancho y el alto de los elementos html se 
    ajuste a lo declarado */
}


body {
    background-color: rgba(213, 20, 20, 1);
    color: black
}

a {
    color: inherit;
}

.inicio1 {
    background-color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding: 4rem;
}



/* Cuando sean margin o padding o border utilizar la unidad de 
    medida rem o directamente px */


.inicio0 {
    color: white;
    font-size: 8px;
    text-align: center;
    line-height: 2;
}

.position-fixed

/* top, left, right, bottom */
    {
    background-color: rgba(213, 20, 20, 1);
    color: white;
    position: fixed;
    right: 0rem;
    bottom: 0rem;
}

.header {
    position: fixed;
    width: 100%;
    background-color: black;
    min-height: 100px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.nav-lista {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav-item {
    margin-left: 1rem;
}

.nav-enlace {
    text-decoration: none
}

.padre {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    min-height: 500px;
}

.hijo {
    width: 30%;
    height: 200px;
    color: black;
    padding: 1rem;
}